@{
    Layout = "~/Views/Shared/_LayoutHaveManue.cshtml";
}
<style>
    p {
        text-indent: 25px
    }

    .red {
        color: red
    }
</style>
<h2>游戏玩法</h2>
<h4>首次进入游戏奖励</h4>
<p>
    首次进入游戏的玩家,自动获得3积分,可领取1元红包一个。
</p>
<h4>创建游戏房间规则</h4>
<p>
    创建房间的玩家成为房主.其他玩家进入有门票的房间,自动支付门票给房主。创建有门票的房间需要支

    付5倍门票价格的费用。房主在游戏中超时会被踢出房间,由其他玩家取代。
</p>
<h4>微信分享奖励</h4>
<p>
    通过微信分享游戏给朋友,朋友以后在游戏中冲值,分享者都将自动获得其充值金额的随机比例奖励,最低

    2%。可在朋友列表查看已分享成功的结果。
</p>
<h4 class="red">购买该游戏系统</h4>
<p class="red">有意愿购买该系统自己运营的，10月15日前该系统的优惠价为800元人民币。</p><p class="red">
    详情进入QQ群310654555咨询客服。
</p>
<h4>炸金花游戏规则</h4>
<p>
    房间人数达到2人就可以开局和押底。玩家超时会被自动提出房间。每一局游戏开始后,新进入的玩家只

    能等待下一局开始。底分为1分,焖1分上2分。超过10轮还无人开牌,系统自动比较大小。
</p>
<h4>苹果机游戏规则</h4>
<p>
    单人游戏苹果机,每种水果最大可押50分,账户余额1分换10分.
</p>
<h4>充值注意</h4>
<p>
    在炸金花游戏中,余额不足时,请及时点击充值。充值完成后返回大厅进入相同房间可继续游戏.超时后将

    自动弃牌，并被踢出房间!
</p>
<p>
    如遇到问题,进入QQ群310654555咨询客服.
</p>
<h4>关于红包</h4>
<p>
    玩家在游戏中闯关成功,获得足够积分,可以用积分换取抽红包的机会.每天抽红包的次数受系统限制

    。剩余积分,可在第二天使用。因网络原因充值和红包到账时间可能存在延迟。
</p>
<p>
    如遇到问题,进入QQ群310654555咨询客服.
</p>
