@{
    Layout = "~/Views/Shared/_LayoutHaveManue.cshtml";
}
<style type="text/css">
    input,select,textarea {
        border-radius: 5px;
        background-color:yellow;
    }
    input, select {
        height: 3rem;
    }
    #creatResult{
        color:red;
        text-align:center;
        width:100%;
    }
</style>
<h2>房间配置</h2>
<div style="text-align:center;margin:auto;">
    <div><a href="/Citys/Rooms/RoomsList">返回</a></div>
    <form name="createRoom" action="/Citys/Rooms/CreateRoom" method="post">
        <div>
            <label>游戏城名</label> @Html.DropDownList("gameCityId", ViewBag.GameCitys as IEnumerable<SelectListItem>, new { @class = "inputBoxs" })
        </div>
        <div><label>游戏项目</label> @Html.DropDownList("gameProject", ViewBag.GameProjects as IEnumerable<SelectListItem>, new { @class = "inputBoxs" })</div>
        <div>
            <label>房间名称*</label><input type="text" name="Name" class="inputBoxs" required maxlength="6"
              />
        </div>
        <div class="hidden"><label>人数上限</label><input type="number" name="PlayerCountTopLimit" class="inputBoxs" value="0" required />
        </div>
        <div>
            <label>房间密码</label><input type="password" name="SecretKey" class="inputBoxs" maxlength="6" />
        </div>
        <div><label>房间门票</label><input type="text" class="text-center inputBoxs " placeholder="0.00" pattern="^(([1-9]\d{0,9})|0)(\.\d{1,2})?$" name="TicketPrice" max="10" min="0"/>
        </div>
        <div style="width:100%;text-align:center;display:none;">
            <div>
                <label class="text-center" style="margin:auto;margin-top:1.5rem;margin-bottom:1rem;font-size:2rem;">房间公告</label>
            </div>
            <textarea name="Affiche" style="width:100%;height:12rem;" class="disabled" readonly="readonly">
炸金花超过1分钟不操作会被自动踢出游戏
超过最大轮次15轮无人开牌,系统将自动比牌
押底金额1分,封顶30分超时或异常退出视为放弃
建立需要门票的房间需要支付5*门票价格
房主获得玩家进入房间支付的门票,门票最高10分
炸金花1元获得1分,苹果机1元换10分
</textarea>
        </div>
        <div id="creatResult">@ViewBag.result</div>
        <button type="submit" class="btn btn-warning   btn-lg btn-block  text-center" value="确定">
            确定
        </button>
    </form>
</div>