@{
    Layout = "~/Views/Shared/_LayoutHaveManue.cshtml";
}
<style type="text/css">

</style>
<h2>添加游戏城</h2>
<a href="/Manage/Index/">返回</a>
<form action="/Manage/CreatGameCity" method="post">
    游戏城名称 <input type="text" name="cityName" required />
    <button type="submit" class="btn btn-warning   btn-lg btn-block  text-center" value="确定">
        <span class="glyphicon glyphicon-search"></span> 确定
    </button>
</form>
